<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>还件列表</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./layui/css/layui.css">
    <link rel="stylesheet" href="./css/huanlist.css">
</head>
<body>
    <div class="concent" id="content" v-cloak>
        <div class="title">
            <p style="padding-left: 44px; cursor:pointer;" @click="goShou">物联柜</p>
            <!-- <p style="cursor:pointer;" @click="goBack">还件</p> -->
            <p style="padding-right: 44px">还件列表</p>
            <img src="./image/购物车.png" style="margin-right: 60px;cursor:pointer;" @click="goShop" id="shop" alt="">
            <img id="back" @click="back" style="cursor:pointer;" src="./image/back.png" alt="">
            <div class="welcome">
                <img style="cursor:pointer;" @click="handleSave" src="./image/power.png" alt="">
            </div>
        </div>
        <div id="alert">
            <p>物品列表</p>
            <div id="blo">
                <ul id="non">
                    <li v-for="item in list1" style="margin-right: 4px;">{{item}}</li>
                </ul>
                <ul v-for="(item,index) in list2" ref="detail">
                    <li>{{item.gname}}</li>
                    <li>{{item.gfactory}}</li>
                    <li>{{item.gsize}}</li>
                    <li>{{item.measurement}}</li>
                    <li>{{item.gnum}}</li>
                    <li>{{item.uname}}</li>
                    <a href="javascript:;" @click="addShop(item,index)" v-if='item.isConsumables==1'>补充</a>
                    <a href="javascript:;" @click="addShop(item,index)" v-else='item.isConsumables==2'>还件</a>
                </ul>
            </div>
        </div>
    </div>
    <script src="./js/jquery.js"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./layui/layui.all.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/base.js"></script>
    <script src="./js/huanlist.js"></script>
</body>
</html>