<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>取件列表</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./layui/css/layui.css">
    <link rel="stylesheet" href="./css/qulist.css">
</head>
<body oncopy="return false" onselectstart="return false">
    <div class="concent" id="content" v-cloak>
        <div class="title">
            <p style="padding-left: 44px;cursor:pointer;" @click="goShou">物联柜</p>
            <p style="cursor:pointer;" @click="goGet">取件</p>
            <p style="padding-right: 44px">详细列表</p>
            <img src="./image/购物车.png" style="padding:0;cursor:pointer; margin-right: 60px;" id="shop" alt="">
            <img id="back" style="cursor:pointer;" src="./image/back.png" alt="">
            <div class="welcome">

                <img style="cursor:pointer;" @click="handleSave" src="./image/power.png" alt="">
            </div>
        </div>
        <div id="alert">
            <p>物品列表</p>
            <div id="blo">
                <ul id="non">
                    <li v-for="item in list1" style="margin-right: 4px">{{item}}</li>
                </ul>
                <ul v-for="(item,index) in newdata" @click="send(item,index)" ref="detail"
                    @mouseover="changeActive(index)" @mouseout="removeActive(index)"
                    :class="{ classred:classenable&&index==current}">
                    <li @click="headlopen" class="show">{{item.goodsName}}</li>
                    <li @click="headlopen" class="show">{{item.goodsSize}}</li>
                    <li @click="headlopen" class="show">{{item.measurement}}</li>
                    <li @click="headlopen" class="show">{{item.usageNum}}</li>
                    <!-- <li @click="headlopen" v-if="item.isConsumables==2">
                        <span
                            :class="{normal:item.goodsStatus===1,booked:item.goodsStatus===2,borrowed:item.goodsStatus===3}"
                            style="display: inline-block;width: auto;height: auto;">{{item.goodsStatus1}}</span>
                    </li>
                    <div v-else style="display: inline-block; width: 155px;">
                        <button @click="handleClick1(item,index)" :disabled="disabled">-</button>
                        <input id="keyword" type="number" class="tag" v-model="item.gamount">
                        <button @click="handleClick(item,index)" :disabled="disabled">+</button>
                    </div> -->
                    <li @click="headlopen">
                        <span
                            :class="{normal:item.goodsStatus===1,booked:item.goodsStatus===2,borrowed:item.goodsStatus===3,none:item.goodsStatus===4}"
                            style="display: inline-block;width: auto;height: auto;">{{item.goodsStatus1}}</span>
                    </li>
                    <div style="width: 155px; margin:0; display: inline-block;">
                        <button @click="handleClick1(item,index)" :disabled="disabled">-</button>
                        <input  type="number" class="tag" v-model="item.gamount" value="1" autocomplete="off">
                        <button @click="handleClick(item,index)" :disabled="disabled">+</button>
                    </div>
                    <a href="javascript:;" @click="addShop(item,index)"
                        :style="shopcarshtyle(item)">加入取件车</a>
                </ul>
            </div>
        </div>
        <!-- <div class="zhezhao" v-show="showbox">
            <div class="details" v-for="(item,index) in arr" :key="'i'+index">
                <img class="cuo" @click="headlclose" src="./image/cuo.png" alt="">
                <h1>详情</h1>
                <div>名称:<span>{{item.goodsName}}</span></div>
                <div>厂家:<span>{{item.goodsFactory}}</span></div>
                <div>型号:<span>{{item.goodsSize}}</span></div>
                <div>单位:<span>{{item.measurement}}</span></div>
                <div>数量:<span>{{item.usageNum}}</span></div>
            </div>
        </div> -->
    </div>
    <script src="./js/jquery.js"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/base.js"></script>
    <script src="./layui/layui.all.js"></script>
    <script src="./js/qulist.js"></script>
</body>
</html>